body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Poppins", sans-serif;
    transition: all 0.35s ease 0s;
    padding: 0;
    margin: 0;
    color: #2c2926;
    position: relative;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

.container{
    max-width: 1400px;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jost', sans-serif;
    font-size: 42px;
    text-transform: uppercase;
}

a {
    color: #000;
    text-decoration: none;
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.section {
    box-sizing: border-box;
}

.top-header{
    z-index: 99999;
}

.top-header>.navbar img{
    height: 50px;
    width: 50px;
}
.top-header .nav-list{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.top-header .nav-item a:hover {
    margin-top: 5px;
    color: #20c997;
    font-size: 20px;
}

.sidebar {
    width: 260px;
    position: fixed;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    bottom: 0;
    transition: transform 0.3s ease;
    transform: translateX(0);
    z-index: 9999;
    /* Sidebar visible by default on desktop */
}
.sidebar>.navbar{
    height: 100vh;
    bottom: 0;
}



.sidebar .navbar-nav {
    flex-direction: column;

}



.navbar h1 {
    font-size: 27px;
}

.navbar img {
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 50%;
}

.sidebar .nav-item a {
    margin-top: 5px;
    color: #fff;
    font-size: 20px;
}

.sidebar .nav-item a.active {
    color: #20c997;

}

.sidebar .nav-item a:hover {
    margin-top: 5px;
    color: #20c997;
    font-size: 20px;
}

.content {
    margin-left: 260px;
}

.home {
    background: url(../image/intro-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 150px 0;
    position: relative;
    background-attachment: fixed;
    height: 80vh;
}

.home::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../image/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.home::after {
    background-color: #000;
    /* background: linear-gradient(to right, #17D396, #07F7F7); */
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    /* z-index: -1; */
}

.home-content {
    color: #fff;
    z-index: 9999;
    position: relative;
}

.home-content .text-1 {
    font-size: 30px;
    font-weight: 500;
}

.home-content .text-2 {
    font-size: 70px;
}
.home-content span{
    color: #20c997;
}


.home-content .hire-btn {
    background-color: transparent;
    border: 2px solid #20c997;
    border-radius: 30px;
    padding: 11px 42px;
    color: #20c997;
    font-size: 16px;
}

.home-content .hire-btn:hover {
    background-color: #20c997;
    border: none;
    color: #fff;
}



.about-content {
    position: relative;
    z-index: 999;
}

.about-content .text-3 {
    font-size: 95px;
    font-weight: 800;
    color: #dee3e4;
    opacity: 0.85;
    text-align: center;
    position: relative;
}

.about-content .text-4 {
    font-size: 25px;
    font-weight: 600;
    color: #20c997;
    text-align: center;
    position: absolute;
    content: "";
    top: 46px;
    left: 42%;

}
.about-content .abouttxt{
    font-size: 25px;
    font-weight: 600;
}
.about-content p{
    margin-top: 35px;
    font-size: 15px;
}

.about-content .download-btn {
    border: 2px solid #20c997;
    color: #20c997;
    border-radius: 16px;
    padding: 11px 33px;
    margin-top: 10px;
}

.about-content .download-btn:hover {
    background-color: #20c997;
    color: #fff;
    border-radius: 16px;
    font-size: 16px;
}
.about-content img{
    width: 500px;
    height: 350px;
}

/* .service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 100px 0;
} */
.service-content {
    position: relative;
    background-color: #fff;
    padding: 30px 0;
}

.service-content .text-5 {
    font-size: 95px;
    font-weight: 800;
    color: #dee3e4;
    opacity: 0.85;
    text-align: center;
    position: relative;
}

.service-content .text-6 {
    font-size: 25px;
    font-weight: 600;
    color: #20c997;
    text-align: center;
    position: absolute;
    content: "";
    top: 11%;
    left: 44%;

}

.serv-dtl {
    position: relative;

}

.timeline {
    width: 100%;
    height: auto;
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.timeline-content {
    padding: 20px;
    background: #20c997;
    box-shadow: 2px 2px 5px #20c997, -2px -2px 5px #20c997;
    border-radius: 5px;
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
    position: relative;
    transform-origin: center;
}

.timeline-content h3 {
    font-size: 27px;
}

.timeline-content span {
    position: absolute;
    content: "";
    left: 87%;
    bottom: 29px;
}

.timeline-content span i {
    font-size: 30px;
}

.timeline-component {
    margin: 0px 20px 20px 20px;
}


    .timeline {
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
    }

    .timeline-middle {
        position: relative;
        background-color: #7b7a79;
        width: 3px;
        height: 100%;
    }

    .main-middle {
        opacity: 0;
    }

    .timeline-circle {
        position: absolute;
        top: 0;
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #20c997;
        transform: translateX(-50%);
    }


.skill-content {
    position: relative;
}

.skill-content .text-7 {
    font-size: 95px;
    font-weight: 800;
    color: #dee3e4;
    opacity: 0.85;
    text-align: center;
    position: relative;
}

.skill-content .text-8 {
    font-size: 25px;
    font-weight: 600;
    color: #20c997;
    text-align: center;
    position: absolute;
    content: "";
    top: 11%;
    left: 43%;

}

.skill-content-blk {
    position: relative;
}

.progress {
    margin-top: 40px;
    height: 10px;

}

.progress-bar {
    border-radius: 18px;
    height: 10px;
    background-color: #20c997;
}

.prt-content {
    position: relative;
    margin-top: 85px;
}

.prt-content .text-7 {
    font-size: 95px;
    font-weight: 800;
    color: #dee3e4;
    opacity: 0.85;
    text-align: center;
    position: relative;
}

.prt-content .text-8 {
    font-size: 25px;
    font-weight: 600;
    color: #20c997;
    text-align: center;
    position: absolute;
    content: "";
    top: 10%;
    left: 44%;

}

.portfolio .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.portfolio .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.portfolio .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #20c997;
    transition: all 0.3s ease;
}

.portfolio .carousel .card .box-title {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin: 15px 0 7px 0;
}

.portfolio .carousel .card .box-detail p {
    font-size: 16px;
    color: #fff;
    margin: 10px 0 7px 0;
}

.portfolio .carousel .card a {
    color: #20c997;
    display: block;
    border-top: 1px solid #4f4f4f;
    margin: 10px auto 0;
    padding-top: 10px;
}

footer {
    background-color: #22252c;
    padding: 100px 0;
}

footer .text-10 {
    font-size: 70px;
    font-weight: 800;
    color: #dee3e4;
    opacity: 0.85;
    text-align: center;
    position: relative;
}
footer .text-11 {
    font-size: 28px;
    font-weight: 500;
    color: #dee3e4;
    text-align: center;
    position: relative;
    margin-top: 20px;
}
footer .text-11:hover {
    color: #20c997;
}
footer .mailaddress {
 font-size: 28px;
    color: #dee3e4;
    text-align: center;
    align-items: center;
}
footer .mailaddress:hover{
    color: #20c997;
}

.form-container {
    width: 100%;
    padding: 20px;

}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    /* Extra padding for label space */
    font-size: 16px;
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-bottom: 1px solid #20c997;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.form-group input:focus+label,
.form-group input:not(:placeholder-shown)+label {
    top: 5px;
    font-size: 12px;
    color: #20c997;
}

.form-group textarea {
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    /* Extra padding for label space */
    font-size: 16px;
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}

.form-group textarea:focus {
    border-bottom: 1px solid #20c997;
}

.form-group textarea:focus+label,
.form-group textarea:not(:placeholder-shown)+label {
    top: 5px;
    font-size: 12px;
    color: #20c997;
}

.form-group .character-count {
    text-align: right;
    font-size: 14px;
    color: #999;
}

.form-group button {
    border: 2px solid #20c997;
    background-color: transparent;
    padding: 16px 43px;
    color: #20c997;
}

.form-group button:hover {
    background-color: #20c997;
    border: none;
    color: #fff;
}