/* Inter */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900; /* Supports variable weight */
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900; /* Supports variable weight */
    font-style: italic;
}

/* Jost */
/* Jost Regular */
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Jost Italic */
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Jost Thin */
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* Jost Light */
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Jost Medium */
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* Jost SemiBold */
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* Jost Bold */
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Jost ExtraBold */
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* Jost Black */
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


/* Poppins */
@font-face {
    font-family: 'Poppins-Thin';
    src: url('../fonts/Poppins-1/Poppins-Thin.ttf') format('truetype');
   
}

@font-face {
    font-family: 'Poppins-ThinItalic';
    src: url('../fonts/Poppins-1/Poppins-ThinItalic.ttf') format('truetype');
    
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('../fonts/Poppins-1/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-1/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url('../fonts/Poppins-1/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-LightItalic';
    src: url('../fonts/Poppins-1/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-1/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('../fonts/Poppins-1/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-1/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-MediumItalic';
    src: url('../fonts/Poppins-1/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-1/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url('../fonts/Poppins-1/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-1/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('../fonts/Poppins-1/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('../fonts/Poppins-1/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('../fonts/Poppins-1/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('../fonts/Poppins-1/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url('../fonts/Poppins-1/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
/* Repeat for other weights and styles as needed */